a {
    text-decoration: none;
    display: inline-block;
    width: 100px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 29px;
    color: #fff;
    margin: 10px;
}

a:hover {
    color: #282262;
    border: 1px solid #282262;
    border-radius: 10px;
}

.container {
    height: 70px;
}