/* #a {
    background: url('images/pic.jpg');
    width: 100%;
    height: 700px;
    background-size: cover;
}

#modal {
    position: absolute;
    left: 45%;
    margin-top: 15%;
    transform: translate(-30%, -30%);
    height: 470px;
    width: 400px;
    background-color: #555;
    border-radius: 10%;
}

input {
    margin-left: 10%;
    border-radius: 8px;
    width: 250px;
    height: 40px;
    border: none;
}

button,
h1 {
    margin-left: 29%;
    height: 50px;
    width: 140px;
    color: aliceblue;
    text-align: center;
}

#icon {
    font-size: 32px;
    color: aliceblue;
}

::-webkit-input-placeholder {
    padding-left: 10px;
} */

body {
    background-color: #e5e9ea;
}

.main {
    margin: 60px 0px 0px 0px;
}

.img {
    background-color: #282262;
    border-radius: 10px;
    box-shadow: 5px 0px 3px 0px #ccc;
}

.text {
    color: #ffffff;
}

.form {
    background-color: #ffffff;
    margin: 0 0 0 -10px;
    z-index: -10;
    border-radius: 10px;
}

.log_in {
    color: #2196f3;
}

.butn,
button {
    background-color: #2196f3 !important;
    border-radius: 50px;
    box-shadow: none !important;
}