<div class="container-fluid" id="a">
  <div class="row">
  <div class="col-sm-12">
              <div class="col-sm-4"></div>
              <div class="col-sm-4" id="modal"><br><br>
                  <h1>Log In</h1><br>
               <span class="glyphicon glyphicon-user"  id="icon"></span>   <input type="text"  placeholder="Username"><br><br><br>
               <span class="glyphicon glyphicon-log-in" id="icon" ></span> <input type="password" placeholder="Password"><br><br><br><br>
                  <button class="btn btn-info" (click)="fun()">Log in</button>
              </div>
              <div class="col-sm-4"></div>
  </div>
  </div>

</div>
